body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Silkscreen", sans-serif;
}

:root {
    --bg-primary: rgb(50, 57, 255);
    --bg-secondary: #eaeaeaea;
    --txt-primary: #f7f7ff;
    --txt-secondary: #222222;

    /* Icons */
    --icon-bg-youtube: #ff0000;
    --icon-bg-facebook: #3b5998;
    --icon-bg-google: #4285F4;
    --icon-bg-tiktok: #000000;

    /* buttons */
    --btn-bg-primary: rgb(238, 98, 38);
    --btn-bg-hover: rgb(255, 57, 22);
    --btn-txt-primary: #222222;
}

.card {
    width: 300px;
    height: auto;
    margin: 8px;
    padding: 32px;
    border: 2px solid white;
    background-color: var(--bg-secondary);
    color: var(--txt-secondary);

    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-primary);
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}


.text-center {
    text-align: center;
}

.icons {
    font-size: 24px;
}

.icons.fa-google {
    color: var(--txt-primary);
    background-color: var(--icon-bg-google);
    padding: 10px;
    border-radius: 50%;
}

.icons.fa-facebook {
    color: var(--txt-primary);
    background-color: var(--icon-bg-facebook);
    padding: 10px;
    border-radius: 50%;
}

.icons.fa-youtube {
    color: var(--txt-primary);
    background-color: var(--icon-bg-youtube);
    padding: 10px;
    border-radius: 50%;
}

.icons.fa-tiktok {
    color: var(--txt-primary);
    background-color: var(--icon-bg-tiktok);
    padding: 10px;
    border-radius: 50%;
}

.btn-goggle, .btn-facebook, .btn-youtube, .btn-tiktok {
    width: 300px;
    height: 50px;
    margin-top: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--btn-bg-primary);
    color: var(--txt-primary);
    cursor: pointer;
}

.btn-goggle:hover, .btn-facebook:hover, .btn-youtube:hover, .btn-tiktok:hover {
    background-color: var(--btn-bg-hover);
    color: white;
    transition: 0.3s;

    transform: rotate(2deg);
}