* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}



body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links li a {
    text-decoration: none;
    color: #000000;
}

.toggle-container button {
    background-color: #ddd;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
}

.hero {
    padding: 2rem;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    width: 400px;
    height: 400px;
    object-fit: cover;

    border-radius: 50%;
    border: 20px solid #ddd;
}

.hero-text {
    margin-top: 2rem;
    max-width: 700px;


}

.hero-text h2 {
    margin-bottom: 1rem;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    font-size: 30px;
}

.hero-text p {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;

    color: #000000;
}